.img512-rojo{
    background-color: red;
}

.img512-negro{
    background-color: rgb(18, 18, 18);
}

.img512-verde{
    background-color: rgb(0, 128, 17);
}
.img512-azul{
    background-color: rgb(3, 70, 157);
}